.navbar-brand {
  transform: translateX(-50%);
  top: 8px;
  margin: auto;
  text-align: center;
  left: 50%;
  position: absolute;
} 

.form-group {
  width: 250px;
  display: inline-block;
  text-align: center;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.btn1 {
  background: url("./img/smile.png") center no-repeat;
  background-size: cover;
}
.btn2 {
  background: url("./img/bored.png") center no-repeat;
  background-size: cover;
}
.btn3 {
  background: url("./img/sad.png") center no-repeat;
  background-size: cover;
}
.btn4 {
  background: url("./img/worried.png") center no-repeat;
  background-size: cover;
}
.btn5 {
  background: url("./img/angry.png") center no-repeat;
  background-size: cover;
}
.btn6 {
  background: url("./img/sun1.png") center no-repeat;
  background-size: cover;
}
.btn7 {
  background: url("./img/night.png") center no-repeat;
  background-size: cover;
}
.btn8 {
  background: url("./img/cloud.png") center no-repeat;
  background-size: cover;
}
.btn9 {
  background: url("./img/rain.png") center no-repeat;
  background-size: cover;
}
.btn10{
  background: url("./img/snow.png") center no-repeat;
  background-size: cover;  
}

.btnBar {
  margin: auto;
  border-radius: 25px;
  display: inline-block;
}

.emojiBar {
  margin: 50px;
  text-align: center; 
}

.shadowBox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.center {
    width: 100px;
    height: 100px;
    background-color: red;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

td th {
  width: 100px;
}

.btnDrop {
  width: 350px;
}

#scrollable-menu {
  height: auto;
  max-height: 170px;
  overflow-x: hidden;
}
/* Table */

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}